@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.article0{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-lava{
    display: block;
    max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
}

h1{
    font-size: 40px;
}

.article-princ{
    height: 800px;
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    display:inline-flex;
}

.h2-princ{
    margin-left: -50%;
    margin-bottom: 80%;
    font-size: 70px;
    text-align: right;
    color: white;
}

.img-princ{
    width: 100%;
    height: 799px;
}   

h2{
    text-align: center;
    font-size: 30px;
}

.container2{
    background-color: black;
}

.container2 h2{
    color: white;
    padding: 20px;
}

.article1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.div-img1, .div-img2, .div-img3{
    border-radius : 50%;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.div-img1{
    background-image: linear-gradient( -70.4deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );
}

.div-img3{
    background-image: linear-gradient( 109.6deg,  rgba(44,83,131,1) 18.9%, rgba(95,175,201,1) 91.1% );
}

.div-img2{
    width: 550px;
    height: 550px;
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

.div-img1, .div-img3{
    width: 350px;
    height: 350px;
}

.img2{
    width: 500px;
}

nav{
    width: 30%;
}

.nav-link{
    font-size: 1rem;
    text-decoration: 0;
    color: white;
}

.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container3{
    background-image: linear-gradient( -8.2deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

.container3 h2{
    padding: 20px;
    color: white;
}

.article2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.carac-img1{
    width: 300px;
    height: 300px; 
    border-radius: 5%;
}

.carac-img2{
    width: 170px;
    height: 300px; 
    border-radius: 5%;
}

.carac-img3{
    width: 300px;
    height: 300px; 
    border-radius: 5%;
}


.div-carac1, .div-carac2, .div-carac3, .div-carac4{
    background-color: black;
    padding: 20px;
    border-radius: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.carac-titre{
    color: white;
}

.carac-p{
    color: white;
    text-align: center;
}
  
.container4{
    height: 725px;
}

.container4 h2{
    color: white;
}

.article3{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 40px;
    height: 600px;
}

.article3-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 5%;
    /*background-image: linear-gradient( 89.7deg,  rgba(0,0,0,1) -10.7%, rgba(53,92,125,1) 88.8% );*/
    background-color: black;
    border: 2px solid white;
}

.div-tech2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

.div-tech-img1{
    display: flex;
    justify-content: space-around;
    height: 50%;
    padding: 20px;
}

.div-tech-img2{
    display: flex;
    justify-content: space-around;
    height: 40%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.img-tech1{
    width: 50%;
    border-radius: 5%;
}

.img-tech2{
    width: 40%;
    border-radius: 5%;
}

.img-tech3{
    width: 60%;
    border-radius: 5%;
}

.img-tech4{
    width: 30%;
    border-radius: 5%;
}

.img-tech1, .img-tech2, .img-tech3, .img-tech4{
    border: 2px solid white;
}

.ul1{
    display: flex;
    flex-direction: column;
}

.li1, .li2, .li3, .li4, .li5, .li6{
    padding: 1em;
    color: white;
}

.container5{
    background-image: linear-gradient( -8.2deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container5 h2{
    color: white;
    padding: 20px;
}

.div-contact1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 315px;
    padding-left: 20px;
    padding-right: 20px;
}

.div-text-contact{
    background-color: black;
    width : 55%;
    border-radius: 5%;
    border: 2px solid white;
}

.div-text-contact p{
    color: white;
    padding: 20px;
}

.ul-contact{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.li1-contact, .li2-contact, .li3-contact, .li4-contact{
    padding: 1em;
    color: white;
}

.video-lava{
    width: 560px; 
    height: 315px; 
    border: 2px solid black;
    border-radius: 5%;
}

.footer{
    background-color: black;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#span-footer{
    color: white;
    font-size: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer-reseaux{
    margin-bottom: 3rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-link{
    display: inline-flex;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    border-radius: 50%;
    padding: 1.40rem;
    margin: 0 1rem;
    transition: .3s;
    text-decoration: none;
}

.footer-link:hover{
    background-image: linear-gradient( -8.2deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    color: white;
}
